# cache
.cache
__pycache__
*.pyc

# general python ignores
.env
*.env
.venv
*.pyi

# project-specific
variant-nnue-tools/
data/
data.back/
blog/
papers/
experiments/
*.wiki

# tex and documentation
!doc/figures
doc/aux
*.dvi
*.aux
*.synctex.gz
*.fls
*.fdb_latexmk
*.lof
*.lot
*.bbl
*.bcf
*.toc
*.blg
*.out
*.xml

# torch / weight related
*.pth
*.pt

# misc
*.bin
*.log
*.txt
*.mmd
*.json

# tensorboard / pytorch profiler logs / profiles
*.prof
*.trace.json
events.out.tfevents*
logs/
log/

# disallow images on here, but not in doc/figures/ or src/benchmarks/
src/**/*.png
#!src/benchmarks/**/*.png
!doc/figures/**/*.png
plots/**/*.png
/*.png

# specific allows
!overlapped_results.png