# cache
.cache
__pycache__
*.pyc

# general python ignores
.env
*.env
.venv
*.pyi

# project-specific
variant-nnue-tools/
data/
data.back/
blog/
papers/
*.wiki

# tex and documentation
!doc/figures
doc/aux
*.dvi
*.aux
*.synctex.gz
*.fls
*.fdb_latexmk
*.lof
*.lot
*.bbl
*.bcf
*.toc
*.blg
*.out
*.xml

# torch / weight related
*.pth
*.pt

# misc
*.bin
*.log
*.txt
*.mmd

# specific allows
!overlapped_results.png